<?xml version="1.0"?>
<launch>
  <arg name="sim_robot" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- simulation -->
  <include file="$(find hotspray_bringup)/launch/simulation_bringup.launch" >
    <arg name="sim_robot" default="$(arg sim_robot)"/>
    <arg name="paused" default="$(arg paused)"/>
    <arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
  </include>

  <!-- yak -->
  <include file="$(find hotspray_bringup)/launch/hotspray_yak.launch">
  </include>

  <!-- toolpath -->
  <include file="$(find tubular_toolpath_creator)/launch/tubular_toolpath_creator.launch">
  </include>

  <!-- motion --> 
  <include file="$(find hotspray_motion)/launch/hotspray_motion.launch">
  </include>

</launch>
