<?xml version="1.0"?>
<launch>

  <arg name="sim_robot" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- simulation -->
  <include file="$(find hotspray_bringup)/launch/simulation_bringup.launch" >
    <arg name="sim_robot" default="$(arg sim_robot)"/>
    <arg name="paused" default="$(arg paused)"/>
    <arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
  </include>

  <!-- utility -->
  <include file="$(find hotspray_bringup)/launch/utility_bringup.launch" >
    <arg name="sim_robot" default="$(arg sim_robot)"/>
    <arg name="paused" default="$(arg paused)"/>
    <arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
  </include>

  <!-- application -->
  <include file="$(find hotspray_application)/launch/hotspray_application.launch">
  </include>

  <!-- <include file="$(find hotspray_bringup)/launch/rviz.launch"/> -->

</launch>
