<?xml version="1.0"?>
<launch>

  <arg name="sim_robot" default="true"/>
  


  <include file="$(find hotspray_scan)/launch/hotspray_scan.launch">
  </include>

  <include file="$(find yak_ros)/launch/yak_hotspray.launch">
  </include>

    <include file="$(find hotspray_toolpath_generator)/launch/plane_slicer_rastering_generator_demo.launch">
  </include>
      <include file="$(find hotspray_descartes)/launch/hotspray_descartes.launch">
  </include>
<!--
    <include file="$(find hotspray_gui)/launch/gui.launch">
  </include>
-->
</launch>
