<?xml version="1.0"?>
<launch>

  <arg name="sim_robot" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- yak -->
  <include file="$(find hotspray_bringup)/launch/hotspray_yak.launch">
  </include>

  <!-- toolpath -->
  <include file="$(find tubular_toolpath_creator)/launch/tubular_toolpath_creator.launch">
  </include>

  <!-- motion --> 
  <include file="$(find hotspray_motion)/launch/hotspray_motion.launch">
  </include>

  <!-- application -->
  <!-- <include file="$(find hotspray_application)/launch/hotspray_application.launch">
  </include> -->
3
</launch>