<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false" />
  <arg name="debug_poses_path" default="" />

  <node name="hotspray_motion" pkg="hotspray_motion" type="hotspray_motion_node" output="screen">
    <param name="debug" value="$(arg debug)"/>
    <param name="debug_poses_path" value="$(arg debug_poses_path)"/>

    <param name="scan_trajopt_process_default_composite_profile_path" value="$(find hotspray_motion)/config/scan/scan_trajopt_process_default_composite_profle.xml"/>
    <param name="scan_trajopt_freespace_default_composite_profile_path" value="$(find hotspray_motion)/config/scan/scan_trajopt_freespace_default_composite_profle.xml"/>
    <param name="scan_descartes_plan_profile_path" value="$(find hotspray_motion)/config/scan/scan_descartes_plan_profile.xml"/>
    <param name="scan_ompl_plan_profile_path" value="$(find hotspray_motion)/config/scan/scan_ompl_plan_profile.xml"/>

    <param name="spray_trajopt_process_default_composite_profile_path" value="$(find hotspray_motion)/config/spray/spray_trajopt_process_default_composite_profle.xml"/>
    <param name="spray_trajopt_freespace_default_composite_profile_path" value="$(find hotspray_motion)/config/spray/spray_trajopt_freespace_default_composite_profle.xml"/>
    <param name="spray_ompl_freespace_plan_profile_path" value="$(find hotspray_motion)/config/spray/spray_ompl_freespace_plan_profile.xml"/>
    <param name="spray_ompl_transition_plan_profile_path" value="$(find hotspray_motion)/config/spray/spray_ompl_transition_plan_profile.xml"/>

    <!-- <param name="spray_z_freedom" value="0.001"/>
    <param name="spray_rx_freedom" value="20"/>
    <param name="spray_ry_freedom" value="5"/>
    <param name="spray_rz_freedom" value="1"/>
    <param name="spray_z_resolution" value="1.0"/>
    <param name="spray_rx_resolution" value="1.0"/>
    <param name="spray_ry_resolution" value="1.0"/>
    <param name="spray_rz_resolution" value="1.0"/> -->

  </node>
</launch>