<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <!-- <param name="$(arg robot_description)" command="$(find xacro)/xacro  '$(find hotspray_description)/urdf/hotspray_application.xacro'" /> -->
  
  <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find hotspray_description)/urdf/hotspray_ur5_demo_test.xacro' " />


  <!-- The semantic description that corresponds to the URDF -->
  <!-- <param name="$(arg robot_description)_semantic" textfile="$(find hotspray_ur5_moveit_config)/config/hotspray_description.srdf" /> -->
  <param name="$(arg robot_description)_semantic" textfile="$(find hotspray_ur5_moveit_config)/config/hotspray_ur5_description_test.srdf" />


  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world_frame world 100" />

</launch>
